body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


.save-job{

    .save-job{
        height: fit-content;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url('/assets/images/img_agent_career/save-job-1.jpg');
        background-size: contain;
        background-position: center;
        color: white;
        padding: 50px;
        padding-block: 200px;
        margin-top: 50px;
    }
    
    .save-job-title {
        font-size: 56px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    
    
    
    /* Mobile and tablet responsiveness */
    @media (max-width: 768px) {
        .save-job-title {
            font-size: 32px;
            margin-bottom: 20px;
        }
    
      
    
     
    }
    
    @media (max-width: 576px) {
        .save-job-title {
            font-size: 28px;
            margin-bottom: 15px;
        }
    
    
    }
    
}

